{
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "proseWrap": "always",
  "bracketSameLine": true,
  "jsxBracketSameLine": false
}